@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&display=swap');

    .list-wraper > ul {
        list-style-type: none;
        font-family: 'Baloo Da 2', cursive;
        height: 300px;
        overflow-y: auto;
        background-color: #f4f4f4;
        padding: 0 16px;
        font-size: 18px;
    }
    .list-wraper > ul > li > a {
        position: relative;
        left: 4px;
    }

    .list-wraper > ul > li > a:hover {
        cursor: pointer;
        color: red;
    }

    .list-wraper > ul > li::before {
        font-family: "remixicon";
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\eb7c";
        position: relative;
        color: #27ae60;
        display: inline-block; 
        width: 1em;
        margin-left: -1em;
        font-size: 9px;
        top: -1px;
    }

    .pagination-wraper {
        display: flex;
        justify-content: center;
        overflow-x: scroll;
    }
    .pagination-wraper > ul {
        width: max-content;
        list-style-type: none;
        color: #FFF;
    }
    .pagination-wraper > ul > li {
        display: inline;
        display: inline;
        padding: 14px 16px;
        background-color: #596174;
    }
    .pagination-wraper > ul > li:hover {
        background-color: #6f788d;
        cursor: pointer;
    }